<table>
<tr>
    <td>Select Type of Payee</td>
    <td><select>
        <option>Other Bank Account</option>
        <option>Own Bank Account</option>
    </select></td>
</tr>

<tr>
    <td>Enter the payee name</td>
    <td><input type="text" name="payeeName"></td>
</tr>
<tr>
    <td>Enter the payee account number</td>
    <td><input type="text" name="accountNumber"></td>

</tr>
<tr>
    <td>Re-enter the payee account number</td>
    <td><input type="password" name="confirmAccountNumber"></td>

</tr>
<tr>
    <td>Enter payee nick name</td>
    <td><input type="text" name="payeeNickName"></td>
</tr>

<tr>
    <td><input type="button" name = "submit" value="submit"></td>
</tr>


</table>
